@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body {
	background-image: repeating-linear-gradient(135deg,#ffffff1f 0px,#ffffff1f 64px,#ffffff00 64px,#ffffff00 128px), repeating-linear-gradient(-135deg,#ffffff1f 0px,#ffffff1f 64px,#ffffff00 64px,#ffffff00 128px), linear-gradient(135deg,#fcba03,#4c2196);
	height: 100%;
	font-family: "Raleway";
}
h1 {
	letter-spacing: 1.25em;
}
