@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	background: #1f1f1f;
	color: #eeeeee;
	font-family: 'Roboto', sans-serif;
}

a a:link a:visited a:active {
	color: #eeeeee;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
}
